XTerm*selectToClipboard: true
xterm*loginShell: true
xterm*scrollBar: true
xterm*background: black
xterm*foreground: grey
xterm*cursorColor: red
xterm*cursorUnderline: true
xterm*cursorBlink: true
!xterm*color4: DodgerBlue1
xterm*color12: SteelBlue1
xterm*dynamicColors: true
! Use screen/tmux scrollback instead:
xterm*saveLines: 1000
! -- Allow utf8 in/out
xterm*utf8: 2
xterm*eightBitInput: true
xtere*eightBitControl: false
xterm*eightBitOutput: true
! -- Enables True-Type rendering:
xterm*renderFont: true
xterm*faceName: Monospace
xterm*faceNameDoublesize: Monospace
xterm*wideChars: true
xterm*wideFont: Monospace 
! -- Define the size increments used when changing font size
xterm*faceSize: 20
xterm*faceSize1: 6
xterm*faceSize2: 8
xterm*faceSize3: 12
xterm*faceSize4: 16
xterm*faceSize5: 20
xterm*faceSize6: 24
! -- trim whitespace from selection before copying
xterm*trimSelection: true
! -- Hold Shift to use CLIPBOARD instead of PRIMARY to copy or paste
xterm*vt100.Translations: #override \n\
    ~Shift~Ctrl<Btn2Up>: insert-selection(PRIMARY, CUT_BUFFER0) \n\
    Shift~Ctrl<Btn2Up>: insert-selection(CLIPBOARD, CUT_BUFFER1) \n\
    ~Shift<BtnUp>: select-end(PRIMARY, CUT_BUFFER0) \n\
    Shift<BtnUp>: select-end(CLIPBOARD, CUT_BUFFER1) \n\
    Shift Ctrl <Key> =: larger-vt-font() \n\
    Shift Ctrl <Key> -: smaller-vt-font() \n\
    Shift Ctrl <Key> 0: set-vt-font(d) \n\

! Matches URLs and emails and selects them on double-click
xterm*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48


! Rofi configuration
rofi.color-enabled: true
rofi.color-window: #273238, #273238, #1e2529
rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff
rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844
